version: '3'

services:
  app-dev:
    build:
      context: .
      dockerfile: Dockerfile.dev
    restart: always
    ports:
      - "80:7071"
    environment:
      - MONGODB_URI=mongodb://mongodb:27017/employees
    depends_on:
      - mongodb

  mongodb:
    image: mongo:latest
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongodb-data:/data/db


volumes:
  mongodb-data:
